@{
    ViewData["Title"] = "Category Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/asset/img/taskbar.jpg">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/asset/css/main.css">
    <title>Magazine of University</title>
</head>
<body>
    <section class="all_category">
        <header>
            <section class="header_logo">
                <div class="left">
                    <a class="home_icon" href="index.html"><i class="fa-solid fa-house"></i></a>
                    <div class="container_search">
                        <div class="icon_search">
                            <i class="search fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="input_search">
                            <input type="text" placeholder="search" id="search">
                            <i class="clear fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="brand_name">
                    <a href="index.html">Magazine of University</a>
                </div>
                <div class="right">
                    <button><i class="fa-solid fa-bell"></i></button>
                    <a href="login.html"><i class="fa-solid fa-user"></i></a>
                </div>
            </section>
        </header>

        <main>
            <div class="top_page container">
                <p>HOME</p> <span></span> <p>ALL CATEGORIES</p>
            </div>
            <section class="middle_category container">
                <div class="left_category">
                    <div class="title_left">
                        <p>FILTERED BY:</p>
                        <i class="fa-solid fa-filter"></i>
                    </div>
                    <div class="list_filter">
                        <div class="filter_category">
                            <ul class="category_filter">
                                <span>CATEGORY</span>
                                <li>
                                    <a class="title_submenu" data-submenu=".sub1_show" data-icon=".first">
                                        Faculty 1
                                        <i class="fa-solid fa-chevron-down first"></i>
                                    </a>
                                    <ul class="sub sub1_show">
                                        <li>
                                            <p>Data Communication and Computer Network</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 1</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 1</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 1</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 1</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>All</p>
                                            <input type="checkbox" name="" id="">
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="title_submenu" data-submenu=".sub2_show" data-icon=".second">
                                        Faculty 2
                                        <i class="fa-solid fa-chevron-down second"></i>
                                    </a>
                                    <ul class="sub sub2_show">
                                        <li>
                                            <p>Sub1 faculty 2</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 2</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 2</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 2</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 2</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>All</p>
                                            <input type="checkbox" name="" id="">
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="title_submenu" data-submenu=".sub3_show" data-icon=".third">
                                        Faculty 3
                                        <i class="fa-solid fa-chevron-down third"></i>
                                    </a>
                                    <ul class="sub sub3_show">
                                        <li>
                                            <p>Sub1 faculty 3</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 3</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 3</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 3</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>Sub1 faculty 3</p>
                                            <input type="checkbox">
                                        </li>
                                        <li>
                                            <p>All</p>
                                            <input type="checkbox" name="" id="">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="newest_post_filter">
                                <span>NEWEST POST</span>
                                <li>
                                    <p>Today</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                                <li>
                                    <p>Weekly</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                                <li>
                                    <p>Monthly</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                            </ul>
                            <ul class="top_reads_filter">
                                <span>TOP READS</span>
                                <li>
                                    <p>Today</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                                <li>
                                    <p>Weekly</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                                <li>
                                    <p>Monthly</p>
                                    <input type="checkbox" name="" id="">
                                </li>
                            </ul>
                            <button type="button">Clear All</button>
                        </div>
                    </div>
                </div>
                <div class="right_category">
                    <div class="sort">
                        <p>SORT BY:</p>
                        <select name="" id="">
                            <option value="0">Arrage</option>
                            <option value="1">Name</option>
                            <option value="2">Year</option>
                            <option value="2">Author</option>
                        </select>
                    </div>
                    <div class="list_article">
                        <a href="detail.html"></a>
                        <div class="article_items">
                            <img src="../asset/img/1.jpg" alt="">
                            <div class="content">
                                <h3 class="title_acticle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                </h3>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit? Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="detail.html">Read</a></button>
                            </div>
                        </div>
                        </a>
                        <div class="article_items">
                            <img src="../asset/img/2.jpg" alt="">
                            <div class="content">
                                <a href="">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/3.jpg" alt="">
                            <div class="content">
                                <a href="">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/Bus1.jpg" alt="">
                            <div class="content">
                                <a href="">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/des.jpg" alt="">
                            <div class="content">
                                <a href="">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/des1.jpg" alt="">
                            <div class="content">
                                <a href="">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/IT1.jpg" alt="">
                            <div class="content">
                                <a href="#">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                        <div class="article_items">
                            <img src="../asset/img/IT2.jpg" alt="">
                            <div class="content">
                                <a href="#">
                                    <h3 class="title_acticle">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                </a>
                                <p class="description">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    Nihil a molestias veritatis vel ut. Debitis fugit modi
                                    perferendis suscipit reprehenderit?
                                </p>
                                <p class="time_author">
                                    <span>06-03-2024</span> | <span>Lorem, ipsum dolor</span>
                                </p>
                                <button class="read_post"><a href="#">Read</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <i class="fa-solid fa-angle-left"></i>
                        <ul>
                            <li><button type="button">1</button></li>
                            <li><button type="button">2</button></li>
                            <li><button type="button">3</button></li>
                            <li><button type="button">4</button></li>
                            <li><button type="button">5</button></li>
                        </ul>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer>
            <div class="widget_container">
                <div class="widget_brand">
                    <div class="animated_brand">
                        <div class="word">M</div>
                        <div class="word">A</div>
                        <div class="word">G</div>
                        <div class="word">A</div>
                        <div class="word">Z</div>
                        <div class="word">I</div>
                        <div class="word">N</div>
                        <div class="word">E</div>
                        <div class="blank"></div>
                        <div class="word">o</div>
                        <div class="word">f</div>
                        <div class="blank"></div>
                        <div class="word">U</div>
                        <div class="word">N</div>
                        <div class="word">I</div>
                        <div class="word">V</div>
                        <div class="word">E</div>
                        <div class="word">R</div>
                        <div class="word">S</div>
                        <div class="word">I</div>
                        <div class="word">T</div>
                        <div class="word">Y</div>
                    </div>
                    <!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> -->
                </div>
            </div>
            <div class="list_footer">
                <ul>
                    <li class="title_list"><a href="#">Information Technology</a></li>
                    <li><a href="#">Computer Science</a></li>
                    <li><a href="#">Information Technology</a></li>
                    <li><a href="#">Computer Engineering</a></li>
                    <li><a href="#">Network Technology</a></li>
                    <li><a href="#">Software Engineering</a></li>
                    <li><a href="#">Management Information Systems</a></li>
                    <li><a href="#">Big Data & Machine Learning</a></li>
                    <li><a href="#">Data Communication and Computer Network</a></li>
                </ul>
                <ul>
                    <li class="title_list"><a href="#">Business administrator</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a href="#">International business</a></li>
                    <li><a href="#">Hotel Management</a></li>
                    <li><a href="#">Management of tourism and travel services</a></li>
                    <li><a href="#">Multimedia management</a></li>
                    <li><a href="#">Finance</a></li>
                </ul>
                <ul>
                    <li class="title_list"><a href="#">Graphic & digital design</a></li>
                    <li><a href="#">Brand identity design</a></li>
                    <li><a href="#">Marketing advertising design</a></li>
                    <li><a href="#">Design UI/UX interface</a></li>
                    <li><a href="#">Design publications and magazines</a></li>
                    <li><a href="#">Motion graphic design - motion graphics</a></li>
                    <li><a href="#">Art illustration design - illustration design</a></li>
                    <li><a href="#">Big Data & Machine Learning</a></li>
                    <li><a href="#">Data Communication and Computer Network</a></li>
                </ul>
            </div>
            <div class="contact_footer">
                <div class="address">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Cong Hoa Garden Building, No. 20 Cong Hoa, Ward 12, Tan Binh District, Ho Chi Minh City</p>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <p>phatnhtgcs210259@fpt.edu.vn</p>
                </div>
            </div>
            <small class="block">Copyright &copy; 2024 Enterprise Web Software Development</small>
        </footer>
        <!-- Go to top -->
        <a href="#" class="js-gotop"><i class="fa-solid fa-chevron-up"></i></a>

    </section>

    <!-- Script link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Main -->
    <script src="~/asset/js/main.js"></script>
    <!-- Show/Hide submenu Category -->
    <script>
        $('.title_submenu').click(function () {
            var submenu = $(this).data('submenu');
            var icon = $(this).data('icon');
            $(submenu).toggleClass('show');
            $(icon).toggleClass('rotate');
        });
    </script>
</body>
</html>