@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/asset/img/taskbar.jpg">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/asset/css/main.css">
    <title>Magazine of University</title>
</head>
<body>
    <header>
        <section class="header_logo container">
            <div class="left">
                <a class="home_icon" href="index.html"><i class="fa-solid fa-house"></i></a>
                <div class="container_search">
                    <div class="icon_search">
                        <i class="search fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="input_search">
                        <input type="text" placeholder="search" id="search">
                        <i class="clear fa fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="brand_name">
                <a href="index.html">Magazine of University</a>
            </div>
            <div class="right">
                <button><i class="fa-solid fa-bell"></i></button>
                <a href="#login"><i class="fa-solid fa-user"></i></a>
            </div>
        </section>
        <section class="hero">
            <nav>
                <ul>
                    <li>
                        <a class="category" href="#">Information Technology</a>
                        <ul class="submenu">
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">Information Technology</a></li>
                            <li><a href="#">Computer Engineer</a></li>
                            <li><a href="#">Network Technology</a></li>
                            <li><a href="#">Software Engineer</a></li>
                            <li><a href="#">Management Information Systems</a></li>
                            <li><a href="#">Big Data & Machine Learning</a></li>
                            <li><a href="#">Data Communication and Computer Network</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="category" href="#">Business Administration</a>
                        <ul class="submenu">
                            <li><a href="#">Digital Marketing</a></li>
                            <li><a href="#">International Bussiness</a></li>
                            <li><a href="#">Hotel Management</a></li>
                            <li><a href="#">Management Of Tourism and Travel Services</a></li>
                            <li><a href="#">Multimedia Management</a></li>
                            <li><a href="#">Finance</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="category" href="#">Graphic & Digital Design</a>
                        <ul class="submenu">
                            <li><a href="#">Brand Identity Design</a></li>
                            <li><a href="#">Marketing Advertising Design</a></li>
                            <li><a href="#">Design UI/UX Interface</a></li>
                            <li><a href="#">Design Publications and Magazines</a></li>
                            <li><a href="#">Motion Graphic Design - Motion Graphics</a></li>
                            <li><a href="#">Art Illustration Design - Illustration Design</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <!-- Spotlight -->
    <section class="spotlight show-animation">
        <div class="slider">
            <div class="list">
                <div class="item">
                    <div class="hot_news_img">
                        <img src="../asset/img/B1.jpg" alt="">
                    </div>
                    <div class="hot_news_introduction">
                        <h2>Spotlight</h2>
                        <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, itaque, quisquam facere reprehenderit veritatis numquam amet provident ullam, aut inventore in nisi minus rem. Dolorum sapiente vitae praesentium blanditiis deserunt!</span>
                        <button><a href="#">Read more!</a></button>
                    </div>
                </div>
                <div class="item">
                    <div class="hot_news_img">
                        <img src="../asset/img/B1-1.jpg" alt="">
                    </div>
                    <div class="hot_news_introduction">
                        <h2>Spotlight</h2>
                        <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, itaque, quisquam facere reprehenderit veritatis numquam amet provident ullam, aut inventore in nisi minus rem. Dolorum sapiente vitae praesentium blanditiis deserunt!</span>
                        <button><a href="#">Read more!</a></button>
                    </div>
                </div>
                <div class="item">
                    <div class="hot_news_img">
                        <img src="../asset/img/B1-2.jpg" alt="">
                    </div>
                    <div class="hot_news_introduction">
                        <h2>Spotlight</h2>
                        <p><a href="#">Lorem ipsum dolor sit amet.</a></p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, itaque, quisquam facere reprehenderit veritatis numquam amet provident ullam, aut inventore in nisi minus rem. Dolorum sapiente vitae praesentium blanditiis deserunt!</span>
                        <button><a href="#">Read more!</a></button>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <!-- Historical post -->
    <section class="historical_post">
        <div class="post_container">
            <div class="post">
                <div class="title">
                    <p>Historical Post</p>
                </div>
                <div class="content_title">
                    <div class="ranking_title newest_post">
                        <p class="active">Newest Post <span></span></p>
                    </div>
                    <div class="ranking_title top_reads">
                        <p>Top Reads <span></span></p>
                    </div>
                    <div class="ranking_title oldest_post">
                        <p>Oldest Post</p>
                    </div>
                </div>
                <div class="list_newest_post">
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/1.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil a molestias veritatis vel ut. Debitis fugit modi
                                perferendis suscipit reprehenderit?
                            </p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                </div>
                <div class="list_top_reads">
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/2.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                </div>
                <div class="list_oldest_post">
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                    <div class="post_item">
                        <img src="../asset/img/3.jpg" alt="">
                        <div class="content">
                            <h3 class="title_post">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                            </h3>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a molestias veritatis vel ut. Debitis fugit modi perferendis suscipit reprehenderit?</p>
                            <p class="time_author">
                                <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                            </p>
                            <button class="read_post"><a href="#">Read</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="viewall"><a href="#">View All</a></button>
    </section>
    <!-- Category -->
    <section class="category">
        <div class="category_container">
            <div class="title_container">
                <p class="title">Categories</p>
                <ul class="subcategory">
                    <li><a href="#">Information Technology</a></li>
                    <li><a href="#">Business Administration</a></li>
                    <li><a href="#">Graphic & Digital Design</a></li>
                    <li><a href="#">Lorem, ipsum.</a></li>
                    <li><a href="#">Lorem, ipsum.</a></li>
                </ul>
            </div>
            <div class="categories">
                <div class="catefories_left">
                    <div class="it">
                        <div class="catergories_title">
                            <p>Information Technology</p>
                        </div>
                        <div class="categories_subtitle">
                            <ul>
                                <li class="active">All post</li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                            </ul>
                        </div>
                        <div class="categories_post">
                            <div class="post">
                                <img src="../asset/img/IT1.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                            <div class="post">
                                <img src="../asset/img/IT2.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                            <div class="post">
                                <img src="../asset/img/IT3.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                        </div>
                        <button class="viewall"><a href="#">View All</a></button>
                    </div>
                </div>
                <div class="categories_right">
                    <div class="business">
                        <div class="catergories_title">
                            <p>Business Administration</p>
                        </div>
                        <div class="categories_subtitle">
                            <ul>
                                <li class="active">All post</li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                            </ul>
                        </div>
                        <div class="categories_post">
                            <div class="post">
                                <img src="../asset/img/Bus1.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                            <div class="post">
                                <img src="../asset/img/B1-1.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                        </div>
                        <button class="viewall"><a href="#">View All</a></button>
                    </div>
                    <div class="design">
                        <div class="catergories_title">
                            <p>Graphic & Digital Design</p>
                        </div>
                        <div class="categories_subtitle">
                            <ul>
                                <li class="active">All post</li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                                <li><a href="#">Lorem, ipsum.</a></li>
                            </ul>
                        </div>
                        <div class="categories_post">
                            <div class="post">
                                <img src="../asset/img/des.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                            <div class="post">
                                <img src="../asset/img/des1.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                            <div class="post">
                                <img src="../asset/img/B1-2.jpg" alt="">
                                <div class="content">
                                    <h3 class="title_post">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia?
                                    </h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Nihil a molestias veritatis vel ut. Debitis fugit modi
                                        perferendis suscipit reprehenderit?
                                    </p>
                                    <p class="time_author">
                                        <span>7.30 PM</span> | <span>Lorem, ipsum dolor</span>
                                    </p>
                                    <button class="read_post"><a href="#">Read</a></button>
                                </div>
                            </div>
                        </div>
                        <button class="viewall"><a href="#">View All</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="widget_container">
            <div class="widget_brand">
                <div class="animated_brand">
                    <div class="word">M</div>
                    <div class="word">A</div>
                    <div class="word">G</div>
                    <div class="word">A</div>
                    <div class="word">Z</div>
                    <div class="word">I</div>
                    <div class="word">N</div>
                    <div class="word">E</div>
                    <div class="blank"></div>
                    <div class="word">o</div>
                    <div class="word">f</div>
                    <div class="blank"></div>
                    <div class="word">U</div>
                    <div class="word">N</div>
                    <div class="word">I</div>
                    <div class="word">V</div>
                    <div class="word">E</div>
                    <div class="word">R</div>
                    <div class="word">S</div>
                    <div class="word">I</div>
                    <div class="word">T</div>
                    <div class="word">Y</div>
                </div>
                <!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> -->
            </div>
        </div>
        <div class="list_footer">
            <ul>
                <li class="title_list"><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Science</a></li>
                <li><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Engineering</a></li>
                <li><a href="#">Network Technology</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">Management Information Systems</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Business administrator</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">International business</a></li>
                <li><a href="#">Hotel Management</a></li>
                <li><a href="#">Management of tourism and travel services</a></li>
                <li><a href="#">Multimedia management</a></li>
                <li><a href="#">Finance</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Graphic & digital design</a></li>
                <li><a href="#">Brand identity design</a></li>
                <li><a href="#">Marketing advertising design</a></li>
                <li><a href="#">Design UI/UX interface</a></li>
                <li><a href="#">Design publications and magazines</a></li>
                <li><a href="#">Motion graphic design - motion graphics</a></li>
                <li><a href="#">Art illustration design - illustration design</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
        </div>
        <div class="contact_footer">
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cong Hoa Garden Building, No. 20 Cong Hoa, Ward 12, Tan Binh District, Ho Chi Minh City</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>phatnhtgcs210259@fpt.edu.vn</p>
            </div>
        </div>
        <small class="block">Copyright &copy; 2024 Enterprise Web Software Development</small>
    </footer>
    <!-- Go to top -->
    <a href="#" class="js-gotop"><i class="fa-solid fa-chevron-up"></i></a>

    <!-- Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Main -->
    <script src="../asset/js/main.js"></script>
</body>
</html>
